<div class="portfolio">
	{{#link-to 'portfolio' class='portfolio__show-btn center-block' tagName=div}} S H O W{{/link-to}}
	<img class="portfolio__image" src="/portfolio-page.jpg"  />
</div>
{{yield}}
