<div class="menu-wrapper">
	<div class="toggler" hidden>
		<div></div>
		<div></div>
		<div></div>
	</div>
<nav class="menu">
  {{#link-to 'home'}}HOME{{/link-to}}
  {{#link-to 'blog'}}BLOG{{/link-to}}
  {{#link-to 'portfolio'}}PORTFOLIO{{/link-to}}
  {{#link-to 'contacts'}}CONTACT ME{{/link-to}}
  {{#link-to 'admin.posts'}}ADMIN/POSTS{{/link-to}}
</nav>
</div>
{{yield}}
