body {
	background-image: url("/home-background.jpg");
	background-size: 100% auto;
}

.home-container {
	margin-top: 60%;
	background-color:white;
}

.portfolio {
	position:relative;
	margin: 20px auto 0;
	width: 100%;
}

.portfolio__image {
  display: block;
	width: 100%;
}

.portfolio__show-btn {
	position: absolute;
	transform: translate(-50%,-50%);
	margin-right: -50%;
	top: 70%;
	left: 50%;
  text-align: center;
  width: 250px;
  min-width: 100px;

  border: 2px solid white;
  color: white;
  padding: 10px;
  font-size: 2em;
}

@media screen and (max-width: 614px) {
	.portfolio__show-btn {
		font-size: 1.2em;
		width: 150px;
		padding: 5px;
	}
}

.portfolio__show-btn:hover {
	background-color: white;
	opacity: 0.8;
	cursor: pointer;
	color: gray;
}

.posts {
	height: 800px;
}

.home-posts {
  display: block;
} 
