body {
	background-image: url("/home-background.jpg");
	background-size: 100% auto;
}
.home-container {
	margin-top: 60%;
	background-color:white;
}
/*.portfolio {
	background-image: url("/portfolio.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	opacity: 0.9;
}*/
.portfolio {
	width: 100%;
  display: flex;
  flex-direction: column;
/*	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row  works with row or column 
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;*/
/*  background-image: url(/portfolio.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;*/
}
.portfolio__image {
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
}
.portfolio__show-btn {
  z-index: 2;
  text-align: center;
  position: relative;
  max-width: 300px;
  min-width: 100px;

  left: 0;
  right: 0;
  top: 210px;
  border: 2px solid white;
  color: white;
  padding: 10px;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}
.portfolio__show-btn:hover {
	background-color: #debdac;
	opacity: 0.9;
	cursor: pointer;
}
.posts {
	height: 800px;
}
.home-posts {
  display: block;
} 
